@font-face {
    font-family:'brantford-light';
    src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ Light.otf') format('opentype');
    font-weight:100;
  }
  @font-face {
    font-family:'brantford-normal';
    src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ Regular.otf') format('opentype');
    font-weight:normal;  
  }
  @font-face {
    font-family:'brantford-semibold';
    src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ SemiBold.otf') format('opentype');
    font-weight:bolder;
  }
  @font-face {
    font-family:'brantford-bold';
    src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ Bold.otf') format('opentype');
    font-weight:bold;  
  }
  


/*Inicio */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:'brantford-light';
    scroll-behavior: smooth;
    
}
html, body {
  width: 100%;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-self: center; /* estava desabilitado */
  flex-wrap:wrap;
  color: #e9b928;
  background-color: #000000;
  background-image: url(/Images/Background/right.jpg), url(/Images/Background/main\ 2.jpg);
  background-size: 15%,25%;
  background-repeat: repeat-y, no-repeat;
  background-position: right, left;
  /* background: rgb(235, 211, 211); */
  
}


/*        Menu Superior            */
.container_header {
  display: flex;
  width:100vw;
  /* max-width: 90%; */
  justify-content: center;
  height: 160px;
  flex-wrap:wrap;
  /* border:solid 1px rgb(199, 199, 135); */
}


/*   menu  */
.container_menu_1{
  display: flex;
  width: 100%;
  font-weight: 100;
  justify-content:space-between;
  list-style: none;
  font-size: 17px;
  word-spacing: 1px;
  width: 90%;
  height: 50px;
  margin: 10px 20px;
  /* border: 1px solid rgb(233, 20, 20); */
}

/* Menu 1 da Esqueda */
.menu_1_left {
 display: flex;
 width: 70%;
 justify-content: space-evenly;
 align-items: center;
 /* border: 1px solid rgb(3, 229, 254); */
}

/* Menu 1 da Direita */
.menu_1_right {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid rgb(219, 22, 177); */
}

/* Texto do menu 1 */
.container_menu_1 > div >  li > a{
  text-decoration: none;
  font-family:'brantford-light';
  font-weight: 100;
  color: #D5B038;
}
/* Fim do menu 1 */




/* Inico de menu 2 */

.container_menu_2 {
  display: flex;
  width: 90%;
  height: 75px;
  margin: 10px 20px;
  justify-content: space-between;
  align-items: center;
  /* position:relative; */
  z-index: 2;
 /*  border: 1px solid rgb(37, 237, 37); */
}

.container_menu_2 > img {
  width: 250px;
  height: 40px;
  cursor: pointer;
}

.container_menu_2 > a {
  background:linear-gradient(to left,  #e9b928, #D5B038);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  text-decoration: none;
  cursor:pointer;
  border-radius: 7px;
  margin-right: 45px;
  color: #000000;
  font-size: 21px;
  font-family:'brantford-light';
}
  /* Fim do menu  */


/* Inicio da tabela de check-in */

  .check-in-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin-top: 50px;
    min-height: 80vh;
    border-radius: 10px;
    background-color: #00000009;
    backdrop-filter: blur(15px);
    border: 2px solid #e9b928;
  }

 .fields {
    position: relative;
    min-height: 450px;
    width: 450px;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 25px; 
    /* border: 1px solid rgb(228, 43, 43); */
  }
/* container do campo */
  .input-field {
    position: relative;
    display: flex;
    justify-content: end;
    width: 200px;
    height: 70px;
    flex-direction: column;
    /* border: 1px solid rgb(0, 255, 85) */
  }

/* Titulo do campo  */
  .input-field > label {
    position: relative;
    font-size: 16px;
    font-weight:500;
    color:#e9b928
  }

  .input-field > label::before {
    content:"";
    position: absolute;
    left:0;
    bottom:-2px;
    height: 3px;
    width: 27px;
    border-radius: 5px;
    background-color: #e9b928;
  }

  /* caixa de texto + seleçao de quartos */
  .input-field > input, .input-field > select {
    outline: none;
    font-size: 14px;
    font-weight: 100;
    border-radius: 10px;
    border: 1px solid #e9b928;
    background: #00000077;
    color:#e9b928;
    padding: 10px, 15px;
    height: 30px;
    margin: 10px 0;
  }
  .input-field > input:focus,.input-field > input:hover {
    transition: 0.5s ease;
    box-shadow: 0 0 5px #e9b928,
                0 0 20px #e9b928;
  }
  /* Botão de cofirmar */
  #input{
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
  }

/* banner lateral */
  .banner-image{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 450px;
    height: 498px;
    border-radius: 10px;
    background-color: #0000009f;
    background-image: url(/Images/Background/Check-in.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    filter: blur(5px);
    /* border: 1px solid rgb(255, 10, 173); */
  }
  .banner-text {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    font-family:'brantford-light';
    font-weight: 100;
    box-shadow: 100px;
    top: 46px;
    right: 20px;
    width: 400px;
    height: 150px;
    /* border:solid 1px red; */
  }

  .room-list {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 100px;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    font-weight: 900;
    color:#e9b928;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: transparent;
    border: solid 1px #e9b928;
  }

  .room-list:hover {
    background-color: #e9b928;
    color: black;
    box-shadow: 0 0 5px #e9b928,
                0 0 20px #e9b928;
  }