@font-face {
  font-family:'brantford-light';
  src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ Light.otf') format('opentype');
  font-weight:100;
}
@font-face {
  font-family:'brantford-normal';
  src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ Regular.otf') format('opentype');
  font-weight:normal;  
}
@font-face {
  font-family:'brantford-semibold';
  src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ SemiBold.otf') format('opentype');
  font-weight:bolder;
}
@font-face {
  font-family:'brantford-bold';
  src: url('/Fonts/brantford/OTP/FoxType\ -\ BrantFord\ Typeface\ Bold.otf') format('opentype');
  font-weight:bold;  
}



/*Inicio */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:'brantford-normal';
    scroll-behavior: smooth;
    
}
html, body {
  width: 100%;
  /* height: 100vh; */
  display:flex;
  justify-content: center;
  align-self: center; /* estava desabilitado */
  flex-wrap:wrap;
  color: #D5B038;
  /* border: 1px solid red; */
  
}
html {
  background-color: #000000;
  background-image: url(/Images/Background/main\ 2.jpg),url(/Images/Background/right.jpg); /* Imagem de fundo lateral */
  background-size: 40%,15%;
  background-repeat: no-repeat,repeat-y;
  background-position: left,right;
}

/* container que envolve todo o menu*/
.container_header {
  display: flex;
  width:100vw;
  /* max-width: 90%; */
  justify-content: center;
  height: 160px;
  flex-wrap:wrap;
  /* border:solid 1px rgb(199, 199, 135); */
}


/*   menu 1 (de cima) */
.container_menu_1{
  display: flex;
  font-weight: 100;
  justify-content:space-between;
  list-style: none;
  font-size: 17px;
  width: 90%;
  height: 50px;
  margin: 10px 20px;
  border-bottom: 1px solid #D5B038;
}

/* Texto do menu 1 */
.container_menu_1 > div >  li > a{
  text-decoration: none;
  font-family:'brantford-light';
  font-weight: 100;
  cursor: pointer;
  color: #D5B038;
  transition: 0.5s ease;
}
.container_menu_1 > div >  li > a:hover{
text-shadow:     
0 0 10px #FFD700,
0 0 20px #FFD700, 
0 0 30px #FFD700,
0 0 40px #FFD700, 
0 0 50px #FFD700; 
}
/* Menu 1 da Esqueda */
.menu_1_left {
 display: flex;
 width: 70%;
 justify-content: space-evenly;
 align-items: center;
 /* border: 1px solid rgb(3, 229, 254); */
}

/* Menu 1 da Direita */
.menu_1_right {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid rgb(219, 22, 177); */
}


/* Fim do menu 1 */

/* menu 2 (de baixo) */

.container_menu_2 {
  display: flex;
  width: 100%;
  height: 75px;
  /* margin: 10px 20px; */
  justify-content:space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  /* position:relative; */
  z-index: 2;
  /* border: 1px solid rgb(37, 237, 37); */
}

.container_menu_2 > img {
  width: 250px;
  height: 40px;
  cursor: pointer;
}

.container_menu_2 > a {
  background:linear-gradient(to left,  #e9b928, #D5B038);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 30px;
  text-decoration: none;
  cursor:pointer;
  border-radius: 7px;
  /* margin-right: 45px */;
  color: #000000;
  font-size: 21px;
  font-family:'brantford-light';
}
/* Fim dos menus de navegação */





/* Inicio ao container do carrossel */

/* Carrosel e texto */
.container_carousel {
  width: 90%;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid rgb(244, 8, 252); */
}

/* Texto do carrosel */
.container_carousel_text {
  display: flex;
  width: 45%;
  height: 100%;
  align-items:center;
  justify-content: left;
  padding-left: 5px;
  /* margin-top: 50px; */
  /* border: 1px solid white; */
}

#text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding-left: 50px;
  justify-content: center;
  /* border: 1px solid white; */
}
#text > h2{
  /* display: flex; */
  color: #ffffff;
  width: 100%;
  height: 20%;
  /* font-family: 'brantford-light'; */
  font-weight: 100;
  /* align-items: flex-start; */
  font-size: 50px;
  /* border:1px solid white; */
}
#text > h1 {
  display: flex;
  justify-content: end;
  font-size: 100px;
  width: 55%;
  font-family: 'brantford-normal';
  /* align-items: flex-end; */
  background:linear-gradient(to left, #e9b928, #D5B038);
  -webkit-background-clip: text;
  background-clip: rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
  /* border:1px solid rgb(18, 228, 98); */
}

/* Botão do texto */
.button_text > p {
  color:#e9b928;
  background-color:transparent;
  border: 1px solid #D5B038;
  font-family:'brantford-light';
  border-radius: 7px;
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 0 10px #D5B038,
              0 0 20px #e9b928;
}


/* Apenas o Carrosel */

.slider {
  /* margin: 40px; */
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  /* flex-wrap: wrap; */
  /* border-radius: 50px; */
  /* border:solid 1px rgb(231, 18, 18); */
}
.slideshow-container {
  width: 90%;
  height: 80%;
/*   display: flex; */
  overflow: hidden;
  border-radius: 50px;
  /* border:solid 1px rgb(139, 231, 18); */  

}

.mySlides {
  width: 25%;
  position: relative;
  /* transition:all 2s; */ 
  border-radius: 50px;
}

#gif {
  width: 400px;
  height: auto;
  margin-left: 300px;
  margin-bottom: 150px;

}

/* Botões de navedação do carrossel */
.navigation-button {
  /* position:absolute; */
  width: 90%;
  /* margin-top: 20px; */
  display: flex;
  justify-content: right;
  /* border: 1px solid white; */ 
}
.carousel-nav{
  padding: 5px;
  border-radius: 10px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  transition: background-color 0.6s ease;
  background-color: #e9b928;
}
.carousel-nav:not(:last-child){ /* Espaçamento */
  margin-right: 10px;
}
.carousel-nav:hover{
  background-color: #ffffff;
}

/* Interação com JS */
.active {
  background-color: #ffffff;
}
.hidden {
  display: none;
}

/* Animação de fading */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}
@-webkit-keyframes fade {
  from {opacity: 0.1}
  to {opacity: 1;}
}
@keyframes fade {
  from {opacity: 0.1}
  to {opacity:1}
}



/* Menu 2 fixo (interação como Js) */

.sticky {
  position: fixed;
  display: flex;
  width: 100%;
  height: 75px;
  justify-content: space-between;
  align-content: center;
  margin-top: 0; 
  background-color: rgba(0, 0, 0, 0.616);
  backdrop-filter: blur(15px);
  /* border: 1px solid red; */
}
.sticky > img, .sticky > a {
  margin-left: 66px;
  margin-right: 110px;
}
.sticky > a {
  transition: 0.5s;
  background: transparent;
  border:1px solid #e9b928;
  color:#e9b928;
}
.sticky > a:hover{
  transition: 0.5s ease;
  box-shadow: 0 0 5px #D5B038,
              0 0 20px #e9b928,
              0 0 50px #D5B038;
}
/* FINAL Menu 2 fixo (Interação com Js) */





/* Cards no centro da pagina */

.cards_container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 1000px;
  background-color: #00000085;
  background-blend-mode: multiply;
  background-position: left;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  background-repeat: no-repeat;
  /* border: solid 1px red; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  /* border: 1px solid white; */
}
.cards_image {
  width: 30%;
  height: 90%;
  border-radius: 25px;
  transition:  0.5s ease-in-out;
  
  /* border: 1px solid yellow; */
}

.cards > img:hover {
  opacity: 0.9;
  transform:scale(1.1);
}
.cards_text {
  display: flex;
  width: 40%;
  height: 90%;
  justify-content: center;
  align-items: center;
  font-family:'brantford-light';
  color: #D5B038;
  font-weight: 100;
  /* border: 1px solid red; */
}
/* FINAL Cards no centro da pagina */




/* Estilos para o rodapé */
.footer_container {
  color: #fff; /* Cor do texto */
  padding: 20px;
  text-align: center; /* Centraliza o texto */
}

.footer_logo img {
  width: 150px; /* Largura do logo */
  margin-bottom: 20px; /* Espaçamento abaixo do logo */
}

.social_media {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; 
}

.social_media li { /* Espaçamento entre os itens */
  margin: 0 10px; 
}

.social_media a {
  color: #D5B038;
  text-decoration: none; 
  font-weight: 100; 
}

.social_media a:hover {
  color: #FFD700;
}
